body {
	color: #000000;
	font: 13px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	border-right: 300px solid #7e7e7e;
	border-left: 300px solid #7e7e7e;
	border-bottom: 50px solid #7e7e7e;
	margin: 0;
}

#wrapper{
	max-width: 960px;
	margin: auto;
}

header {
	padding: 20px 0;
}
			
ul{
	padding: 0;
}

.top,
.information,
.codeexample {
  		display: flex;
  		align-items: center;
		justify-content: center;
	}

.top div {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
 	width: 250px;
  	height: 300px;
}

.information div {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
 	width: 250px;
  	height: 400px;
}

.codeexample div {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
 	width: 500px;
  	height: 400px;
}

.vertical {
  		display: flex;
  		flex-direction: column;
	}